body {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
    background-color: #121212; /* لون الخلفية الداكن */
    color: #FFFFFF; /* لون النص */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* اجعل الصفحة تأخذ ارتفاع الشاشة بالكامل */
    margin: 0; /* إزالة المسافات الافتراضية */
}

main {
    margin-top: 25px;
    margin-bottom: 50px;
    padding: 0px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}


article {
    border: 2px solid #333333; /* لون الحدود الداكن */
    width: 350px;
    height: 500px;
    margin: 20px;
    padding: 10px;
    border-radius: 24px;
    background-color: #2C2C2C; /* لون الخلفية للمقالات */
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    transition: .5s ease;
}


article:hover {
    box-shadow: 0 0 5px 5px #FFFFFF,
    0 0 10px 5px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
    z-index: 100;
}


article img {
    width: 100%;
    height: 320px;
    border-radius: 16px;
}


article p {
    font-size: 32px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 10px;
    z-index: 200;
}


/* تصميم الزر */

button {
    width: 310px;
    height: 80px;
    background-color: #333333; /* لون الخلفية للأزرار */
    color: #FFFFFF; /* لون النص للأزرار */
    border: none;
    border-radius: 8px;
    text-transform: capitalize;
    font-size: xx-large;
    font-weight: 500;
    transition: .6s ease;
    margin-top: 20px;
    padding: 0;
}

button:hover {
    transform: scale(1.1);
    background-color: #555555; /* لون الخلفية عند التمرير */
    color: #FFFFFF; /* لون النص عند التمرير */
    box-shadow: 0 0 4px 2px #888888,
    0 0 6px 3px rgba(0, 0, 0, 0.2);
}

::selection {
    background-color: #333333;
    color: white;
}
